.product-display{
    display: flex;
    margin: 0px 170px;
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-img-list img{
    height: 163px;
}
.product-display-main-img{
    width: 586px;
    height: 700px;
}
.product-display-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 24px;
    font-weight: 600;
}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1px solid #ebebeb;
    color: #656565;
    background: #fbfbfb;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;      
}
.product-display-right button {
    padding: 20px 40px;
    background-color: #3498db; /* Blue color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-bottom: 25px;
}
.product-display-right button:hover {
    background-color: #2980b9; /* Darker shade of blue on hover */
}
.product-display-right-category{
    margin-top: 10px;
}
.product-display-right-category span{
    font-weight: 600;
}
